.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (max-width: 650px) {
  .footer__links {
    flex-direction: column;
  }
}